
.strength-indicator {
    margin-top: 10px;
  }
  
  .strength-label {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .feedback {
    font-size: 1.1em;
    color: #1d1c1c;
    margin-top: 5px;
  }
  