body {
  font-family: Arial, sans-serif;
  background: url('../public/pexels-ron-lach-10526880.jpg') no-repeat center center fixed;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
}

.wholebox {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  padding: 30px;
  max-width: 450px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.passwordBox {
  margin-bottom: 30px;
}

.passwordBox label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}

.passwordBox input[type="text"] {
  width: calc(100% - 80px);
  padding: 12px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.passwordBox button {
  padding: 12px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.passwordBox button:hover {
  background-color: #0056b3;
}

.controls {
  margin-top: 20px;
}

.controls label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.controls #password-length{
  font-size: 18px;
  font-weight: bold;
}

.controls input[type="range"]{
  background: #ddd;
  border-radius: 5px;
  outline: none;
  padding: 0;
  margin: 0 10px;
}

.controls input[type="range"] {
  width: 100%;
  margin-bottom: 20px;
}
.controls p{
  font-size: 20px;
}

.checkboxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

input.checkbox{
  width: 30px;
  height: 30px;
}

.checkboxes label {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.checkboxes input {
  margin-right: 10px;
}

.generateBtn button{
  border: none;
  padding: 15px;
  font-size: large;
  border-radius: 10px;
  background-color: rgb(5, 173, 5);
}

.generateBtn button:hover{
  background-color: rgba(5, 184, 5, 0.836);
}

@media (max-width: 768px) {
  .wholebox {
    padding: 20px;
  }

  .passwordBox input[type="text"] {
    width: calc(100% - 70px);
    font-size: 16px;
  }

  .passwordBox button {
    padding: 10px 15px;
    font-size: 16px;
  }

  .controls label,
  .controls p {
    font-size: 16px;
  }

  .controls input[type="range"] {
    margin: 0;
  }

  .checkboxes label {
    font-size: 16px;
  }

  .generateBtn button {
    padding: 10px;
    font-size: medium;
  }
}

@media (max-width: 480px) {
  .passwordBox input[type="text"] {
    width: calc(100% - 60px);
    font-size: 14px;
  }

  .passwordBox button {
    padding: 8px 12px;
    font-size: 14px;
  }

  .controls label,
  .controls p {
    font-size: 14px;
  }

  .checkboxes label {
    font-size: 14px;
  }

  .generateBtn button {
    padding: 8px;
    font-size: small;
  }
}
